@{
    ViewData["Title"] = "League Info";
}
<h2>@ViewData["Title"]</h2>


<section>
    <p>
        We are a local adult baseball league that operates in Barrie.  The league is played on various nights throughout the week.  This is a great way to stay fit, meet new people and have fun.  There are two different leagues to choose from.  Our Jr league is age 16-25 and the Sr league is age 25+
    </p>
    <p>
        You can register <a asp-area="" asp-controller="Registers" asp-action="Create"><span class="Here">Here</span></a> as a individual.
    </p>

    <p>
        All teams are selected during draft night at the beginning of each season. <br /> All are welcome to attend the draft as captaions will be selected randomly from those in attendence.
    </p>
</section>