



<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>FAQ</title>
    <style>
        p {
            color: white;
            font-weight: bold;
            width: 80%;
            font-family: 'Comic Sans MS', cursive;
            font-size: 35px;
            margin-left: 10%;
        }

        .faq-a {
            margin-bottom: 5%;
            font-size: 24px;
            margin-left: 15%;
        }

        footer {
            font-size: 1em;
            font-family: 'Audiowide', cursive;
            font-weight: 400;
            text-align: center;
            margin-top: 60em;
        }

        #FAQ {
            text-align: center;
            padding-top: 20px;
            font-size: 50px;
            color:#fff;
            margin-left: 20px;
            margin-bottom:5%;
        }

        .FAQ-section {
            background-color: darkolivegreen;
            margin-top: 5%;
            border-width: 3px;
            border-style: solid;
            border-color: black;
            margin-top: 15%;
            opacity: 0.9;
        }

        
    </style>

</head>
<body>
    <div class="FAQ-section">
        <h1 id="FAQ">FAQ</h1>
        <section>
            <p class="faq-q">Q: WHat is Blue Geeks Baseball Club?</p>
            <p class="faq-a">
                A: Blue Geeks Baseball Club is the club that any people can join and play baseball with other people who want to play baseball in this club.
            </p>

            <p class="faq-q">Q: What age can join in the club?</p>
            <p class="faq-a">A: If you want to join in the Jr league, the age is between 16-25, and the Sr league is 25+.</p>

            <p class="faq-q">Q: How can I register the game schedule?</p>
            <p class="faq-a">A: If you want to register to play the game, you can go to 'Register To Play' section and register it.</p>

        </section>
    </div>
    <footer id="foot">
        <p>&copy; 2019 - Assignment2BaseballWebsite</p>
    </footer>
</body>
</html>






