<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home Page</title>
    <style>
        p {
            font-weight: bold;
            width: 80%;
            font-family: "Arial", Times, sans-serif;
            font-size: 24px;
            margin-left: 10%;
        }
    </style>

</head>
<body>
    <div class="home-title">
        <h1>Home Page</h1>
        <h2 id="welcome">Welcome @User.Identity.Name!</h2>


        <p>We are a public and independently run organization in Barrie providing adults with a intercity baseball league</p>

    </div>
</body>
</html>




