<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home Page</title>
    <style>
        body {
            background-color: #86b2f1;
            background-image: url('/../images/ground.jpg');
            background-position: 50% 140px;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-attachment: fixed;
            height: 1500px;
        }

        #logo {
            width: 100%;
            height: auto;
            position: fixed;
            align-content: center;
            margin-left: -2%;
            display: block;
            overflow: hidden;
        }

        h1 {
            text-align: left;
            padding-top: 20px;
            font-size: 20px;
            margin-left: 20px;
        }


        #home-title {
            text-align: center;
            position: relative;
            top: 300px;
            height: 500px;
            background-color: #566433;
            color: white;
        }

        #welcome {
            font-size: 40px;
            font-weight: 800;
            padding-top: 30px;
        }

        p {
            font-weight: bold;
            width: 80%;
            font-family: "Arial", Times, sans-serif;
            font-size: 24px;
            margin-left: 10%;
        }
    </style>
    <div id="logo">
        <img src="../images/header2.png" id="header_logo" alt="BLUE GEEKS BASEBALL CLUB">
    </div>
</head>
<body>
    <div id="home-title">
        <h1>Home Page</h1>
        <h2 id="welcome">Welcome @User.Identity.Name!</h2>


        <p>We are a public-independent organisation in Barrie. We manage a local baseball 
        tournoment each year for male adult players.</p>

    </div>
</body>
</html>




