@model Assignment2BaseballWebsite.Models.Schedule

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Schedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TeamInfoId" class="control-label">Home team</label>
                <select asp-for="TeamInfoId" class="form-control" asp-items="ViewBag.TeamInfoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TeamInfoId" class="control-label">Away team</label>
                <select asp-for="TeamInfoId" class="form-control" asp-items="ViewBag.TeamInfoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GameDate" class="control-label">Game date</label>
                <input asp-for="GameDate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label">Started Time</label>
                <input asp-for="Time" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="HomeTeamScore" class="control-label">Home team score</label>
                <input asp-for="HomeTeamScore" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="AwayTeamScore" class="control-label">Away team score</label>
                <input asp-for="AwayTeamScore" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div id="back">
    <p>
        <a class="back-button" asp-action="Index">Back to List</a>
    </p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
