@model Assignment2BaseballWebsite.Models.PlayerStats

@{
    ViewData["Title"] = "Edit";
}

    <style>
        p {
            color: white;
            font-weight: bold;
            width: 80%;
            font-family: 'Comic Sans MS', cursive;
            font-size: 35px;
            margin-left: 10%;
        }
    </style>
<h2>Edit</h2>

<h4>PlayerStats</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StatId" />
            <div class="form-group">
                <label asp-for="Hits" class="control-label"></label>
                <input asp-for="Hits" class="form-control" />
                <span asp-validation-for="Hits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doubles" class="control-label"></label>
                <input asp-for="Doubles" class="form-control" />
                <span asp-validation-for="Doubles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Triples" class="control-label"></label>
                <input asp-for="Triples" class="form-control" />
                <span asp-validation-for="Triples" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeRuns" class="control-label"></label>
                <input asp-for="HomeRuns" class="form-control" />
                <span asp-validation-for="HomeRuns" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RunsBattedIn" class="control-label"></label>
                <input asp-for="RunsBattedIn" class="form-control" />
                <span asp-validation-for="RunsBattedIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterId" class="control-label"></label>
                <select asp-for="RegisterId" class="form-control" asp-items="ViewBag.RegisterId"></select>
                <span asp-validation-for="RegisterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
