
body {
    background-color: #86b2f1;
    background-image: url('/../images/ground.jpg');
    background-position: 50% 140px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 1500px;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}




#logo {
    width: 100%;
    height: auto;
    position: fixed;
    align-content: center;
    display: block;
    overflow: hidden;
    background-color: #e1eef4;
 
}

h1 {
   
    margin-top: -50px;
    text-align: left;
    padding-top: 20px;
    font-size: 35px;
    margin-left: 20px;
    font-family: 'Comic Sans MS', Novelty Fonts;
}


.home-title {
    text-align: left;
    position: relative;
    background-color: #566433;
    top: 200px;
    color: white;
    opacity: 0.9;
    font-size: 70px;
}

#header_logo{
    margin-left:10%;
}

#welcome { 
    padding-top: 30px;
    text-align: center;   
    font-size: 55px;
    font-weight: 800;
    font-family: 'Comic Sans MS', cursive;
}



#register-here-p {
    font-weight: bold;
    width: 80%;
    font-family: "Arial", Times, sans-serif;
    font-size: 24px;
    margin-left: 10%;
    padding-top: 80px;
    text-align: center;
}

#about{
    padding-bottom:50px;
}

.table {


       text-align: left;
    position: relative;
    top: 50px;
   padding-bottom:30px;
    background-color: #566433;
    color: white;
    opacity:0.9;
}

.schedule-table {
    margin-bottom: 10%;
    text-align: left;
    position: relative;
    top: 200px;
    padding:30px;
    background-color: #5e5a56;
    color: white;
    opacity: 0.9;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgreen;
    color: white;
    text-align: center;
    font-size: 1em;
    font-family: 'Audiowide', cursive;
    font-weight: 400;
    margin-top: 60em;
}

.register-wrapper {
    background-color: darkolivegreen;
    padding-right: 20%;
    padding-left: 10%;
    margin-top: 100px;
    margin-left: -135px;
    color: white;
    width: 120%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 40px;
}

.register-wrapper1 {
    background-color: darkolivegreen;
    padding-right: 10%;
    padding-left: 10%;
    margin-top: 100px;
    margin-left: -135px;
    color: white;
    width: 120%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 40px;
    position: relative;
    left: 500px;
    top: -727px;
}

.register-wrapper2 {
    background-color: darkolivegreen;
    padding-right: 10%;
    padding-left: 10%;
    margin-top: 100px;
    margin-left: -135px;
    color: white;
    width: 120%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 40px;
    position: relative;
    left: 1000px;
    top: -1410px;
}

