
body {
    background-color: #e1eef4;
    background-image: url('/../images/ground2.jpg');
    background-position: 50% 140px;
    background-repeat: no-repeat;
    background-size: 100% 600px;
    background-attachment: fixed;
    height: 1500px;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}




#logo {
    width: 100%;
    height: auto;
    position: fixed;
    align-content: center;
    display: block;
    overflow: hidden;
    background-color: #e1eef4;
 
}

h1 {
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
    margin: 40px 0 40px 20px;
}


.home-title {
    text-align: left;
    position: relative;
    background-color: #566433;
    top:200px;
    color: white;
    opacity:0.9;
}

#header_logo{
    margin-left:10%;
}

#welcome {
    font-size: 40px;
    font-weight: 800;
    padding-top: 30px;
    text-align:center;
}



#register-here-p {
    font-weight: bold;
    width: 80%;
    font-family: "Arial", Times, sans-serif;
    font-size: 24px;
    margin-left: 10%;
    padding-top: 80px;
    text-align: center;
}

#about{
    padding-bottom:50px;
}

.table {


       text-align: left;
    position: relative;
    top: 50px;
   padding-bottom:30px;
    background-color: #566433;
    color: white;
    opacity:0.9;
}

.schedule-table {
    margin-bottom: 10%;
    text-align: left;
    position: relative;
    top: 200px;
    padding:30px;
    background-color: #5e5a56;
    color: white;
    opacity: 0.9;
}



