
body {
    background-color: #86b2f1;
    background-image: url('/../images/ground.jpg');
    background-position: 50% 140px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 1500px;
    
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top:5%;

}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}




#logo {
    width: 100%;
    height: auto;
    position: fixed;
    align-content: center;
    display: block;
    overflow: hidden;
    background-color: #e1eef4;
 
}

h1 {
   
    margin-top: -50px;
    text-align: left;
    padding-top: 20px;
    font-size: 35px;
    margin-left: 20px;
    font-family: 'Comic Sans MS', Novelty Fonts;
}


.home-title {
    text-align: left;
    position: relative;
    background-color: darkolivegreen;
    margin-top: 5%;
    width: 94%;
    color: #fff;
    padding: 2%;
    opacity: 0.9;
    font-size: 70px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}

.details-wrapper {
    text-align: left;
    position: relative;
    background-color: darkolivegreen;
    margin-top: 5%;
    width: 94%;
    color: #fff;
    padding: 2%;
    opacity: 0.9;
    font-size: 35px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}

#imgWelcome {
    position: absolute;
    margin-top: -430px;
    letter-spacing:6px;
    text-align: left;
    
    font-family: 'Comic Sans MS', cursive;
    font-size:36px;
}

#header_logo {
    margin-left: 10%;
}

#welcome { 
    padding-top: 30px;
    text-align: center;   
    font-size: 55px;
    font-weight: 800;
    font-family: 'Comic Sans MS', cursive;
}



#register-here-p {
    font-weight: bold;
    width: 80%;
    font-family: "Arial", Times, sans-serif;
    font-size: 24px;
    margin-left: 10%;
    padding-top: 80px;
    text-align: center;
}

#about{
    padding-bottom:50px;
    color:#fff;
}

.about-section {
    background-color: darkolivegreen;
    margin-top: 5%;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    margin-top: 15%;
    opacity: 0.9;
}

.table {
    text-align: left;
    position: relative;
    top: 50px;
    padding-bottom: 30px;
    color: #fff;
    opacity: 0.9;
    background-color: darkolivegreen;
}

.player-table {
    text-align: left;
    position: relative;
    top: 50px;
    padding-bottom: 30px;
    color: #fff;
    opacity: 0.9;
    width:95%;
    background-color: darkolivegreen;
    
}


.schedule-table {
    width: 100%;
    text-align: left;
    position: relative;
    top: 50px;
    padding-bottom: 30px;
    background-color: #566433;
    opacity: 0.9;
    background-color: #e6e6ff;
}

#welcome-p {
    color: #fff;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgreen;
    color: white;
    text-align: center;
    font-size: 1em;
    font-family: 'Audiowide', cursive;
    font-weight: 400;
    margin-top: 60em;
}

.register-wrapper {
    background-color: darkolivegreen;
    padding-right: 20%;
    padding-left: 10%;
    margin-top: 100px;
    margin-left: -135px;
    color: white;
    width: 120%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 40px;
}

.register-wrapper1 {
    background-color: darkolivegreen;
    padding-right: 10%;
    padding-left: 10%;
    margin-top: 220px;
    margin-left: -135px;
    color: white;
    width: 120%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 40px;
    position: relative;
    left: 500px;
    top: -727px;
}

.register-submit {
    margin-top: 10%;
    -moz-box-shadow: inset 0px 2px 0px 0px #033452;
    -webkit-box-shadow: inset 0px 2px 0px 0px #033452;
    box-shadow: inset 0px 2px 0px 0px #033452;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bee3fa), color-stop(1, #468ccf) );
    background: -moz-linear-gradient( center top, #bee3fa 5%, #468ccf 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bee3fa', endColorstr='#468ccf');
    background-color: #bee3fa;
    -webkit-border-top-left-radius: 30px;
    -moz-border-radius-topleft: 30px;
    border-top-left-radius: 30px;
    -webkit-border-top-right-radius: 30px;
    -moz-border-radius-topright: 30px;
    border-top-right-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-bottomright: 30px;
    border-bottom-right-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -moz-border-radius-bottomleft: 30px;
    border-bottom-left-radius: 30px;
    text-indent: 0px;
    border: 2px solid #3866a3;
    display: inline-block;
    color: #364b66;
    font-family: Comic Sans MS;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    height: 50px;
    line-height: 38px;
    width: 155px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #7cacde;
    margin-left:25%;
}

.register-wrapper2 {
    background-color: darkolivegreen;
    padding-right: 10%;
    padding-left: 10%;
    margin-top: 30px;
    margin-left: -135px;
    color: white;
    width: 120%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 40px;
    position: relative;
    left: 1000px;
    top: -1410px;
}

#logo-id{
    height:225px;
    position:absolute;
    margin-left:400px;
}

#home-picture{
    width:75%;
    margin-top:12%;
}

/*home-pic*/
#home-pic {
    padding: 2%;
    background-color: darkolivegreen;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    opacity:0.9;
}


/*Team Info Style*/
#teamInfo-section {
    background-color: darkolivegreen;
    margin: 10% 2% 2% 2%;
    padding: 1%;
    opacity:0.9;
}

.teamInfo-h1 {
    text-align: center;
    font-size: 32px;
    letter-spacing: 5px;
    font-weight: 700;
}

.teamInfo-h2 {
    text-align: center;
    font-size: 22px;
    letter-spacing: 5px;
    font-weight: 600;
}

.teamInfo-subHeader {
    font-weight: 600;
    font-size: 18px;
    color: black;
    text-align: center;
}

.teamInfo-content {
    font-size: 16px;
    color: black;
    font-weight: 400;
    text-align: center;
}

.teamInfo-Flex1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 7%;
    margin-bottom: 7%;
    border-bottom: 1px solid black;
}

.flex-col {
    width: 30%;
}

.title-wrapper {
    padding-bottom: 5%;
    border-bottom: solid 2px black;
}

.teamInfo-content {
    margin-top: 7%;
}

.teamInfo-player-content {
    text-align: left;
    padding-left: 10%;
    font-size: 16px;
    color: black;
    padding-bottom: 7%
}

.TeamInfo-players-flex {
    display: flex;
    flex-direction: row;
    margin:3% 7% 0 20%;
    
   
    
}

.flex-col-players {
    width: 10%;
    margin-left:10%;
}

.teamInfo-content-player {
    text-align: left;
    padding-left: 10%;
    font-size: 16px;
    color: black;
    padding-bottom: 7%;
    font-weight:300;
    margin-right:15%;
}

.playerCrudLink {
    color: lightsteelblue;
}