
@{
    ViewData["Title"] = "AdminPage";
}

<h2>AdminPage</h2>

<div>
    <a asp-area="" asp-controller="TeamInfoes" asp-action="Create">Create Team</a>
    <a asp-area="" asp-controller="Schedules" asp-action="Create">Create Schedule</a>
    <a asp-area="" asp-controller="PlayerStats" asp-action="Create">Add Stats</a>
    <a asp-area="" asp-controller="Registers" asp-action="Index">Edit Player Table</a>

</div>

